
<nav class="navbar navbar-inverse" role="navigation">
   <span class="icon-bar"></span> <span class="icon-bar"></span>
                <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Tiny App

        </a>
        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
        </ul>



        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="margin:auto">
                <li><a href="/login" class="">login</a>
                </li>
                <li>
                    <div class="btn-nav"  style="padding-right:40px" ><a class="btn btn-info btn-small navbar-btn" href="/register">Sign up!</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
</nav>