<style>
ul#menu li {
    display:inline;
}
</style>

<nav class="navbar navbar-inverse" role="navigation">
   <span class="icon-bar"></span> <span class="icon-bar"></span>
                <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Tiny App

        </a>
        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
        </ul>

        </div>
        <div class="navbar-collapse collapse">
            <ul id="menu" class="nav navbar-nav navbar-right" style="margin:auto" >
            <% if( username ){ %>
            <li><form method="POST" action="/logout"> </li>
                <li>
                    <div style="padding:10px; font-size:16pt;color:white"> <%= username %>
                    </div>
                </li>
                <li>
                    <div class="btn-nav" style="padding-right:10px" ><input type="submit" value="Logout"class="btn btn-info btn-small navbar-btn"  ></input>
                    </div>
                </li>
                </form>
             <% } else{ %>
            <li><form method="POST" action="/login"> </li>
                <li><input type="text" name="username" maxlength="25" style="margin:10px"></li>

                <li>
                    <div class="btn-nav" style="padding-right:10px" ><input type="submit" value="Login"class="btn btn-info btn-small navbar-btn"  ></input>
                    </div>
                </li>
                <li>

                    <div class="btn-nav"  style="padding-right:40px" ><a class="btn btn-info btn-small navbar-btn" href="/register">Sign up!</a>
                    </div>
                </li>
                </form>
            <% } %>


            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
</nav>